*,
*::before,
*::after {
  text-align: center;
  margin: 0;
}

#app {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  height: 100vh;
}

header {
  width: 100%;
  padding: 4rem 0;
  background: rgb(54, 54, 54);
  color: white;
  font-size: 3rem;
}

main {
  display: grid;
  place-items: center;
  height: 30vh;
}

#keys {
  position: relative;
  display: flex;
}

footer {
  width: 100%;
  position: absolute;
  bottom: 2rem;
  opacity: 0.4;
}
